swagger: "2.0"
info:
  version: 1.0.0
  title: Kangaroo Customer Api
  license:
    name: MIT
host: com.kangaroo.com
basePath: /v1
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /users/me?include=frequent_buyer_programs&relationships=frequent_buyer_users:
    get:
      summary: Get List of Frequent Buyer program
      operationId: getFrequentBuyer
      tags:
        - frequentBuyer
      responses:
        "200":
          description: Frequent Buyer list
          schema:
            $ref: '#/definitions/FrequentBuyer'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  FrequentBuyer:
    type: "object"
    x-model: FrequentBuyerModel
    description: Frequent Buyer Model containing list of Frequent Buyer program
    required:
      - data
      - included
    properties:
      data:
        description: "Contains all user data"
        $ref: "schemas/users/userProfile.yaml#/definitions/UserProfileData"
      included:
        description: "Contains all Frequent buyer items"
        $ref: '#/definitions/FrequentBuyerIncluded'
  FrequentBuyerIncluded:
    type: "object"
    required:
      - frequent_buyer_programs
    properties:
      frequent_buyer_programs:
        description:
        x-model:
        $ref: '#/definitions/FrequentBuyerList'
  FrequentBuyerList:
    type: array
    items:
      $ref: '#/definitions/FrequentBuyerItem'
  FrequentBuyerItem:
    type: "object"
    x-model: FrequentBuyerItemModel
    properties:
      id:
        type: integer
      enabled:
        type: bool
      title:
        type: string
      buy_units:
        type: integer
      get_units:
        type: integer
      reset_interval:
        type: integer
      created_at:
        type: string
      frequent_buyer_users:
        description:
        x-model:
        $ref: '#/definitions/FrequentBuyerUsersList'
  FrequentBuyerUsersList:
    type: array
    items:
      $ref: '#/definitions/FrequentBuyerUsers'
  FrequentBuyerUsers:
    type: "object"
    x-model: FrequentBuyerUsersModel
    properties:
      id:
        type: integer
      status:
        type: integer
      purchases_count:
        type: integer
  Error:
    type: "object"
    x-error: true
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string