swagger: "2.0"
info:
  version: 1.0.0
  title: Kangaroo Customer Api
  license:
    name: MIT
host: com.kangaroo.com
basePath: /v1
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /users:
    post:
      summary: Register a new user. Either a phone number or an email address is required.
      operationId: createAccount
      consumes:
        - application/x-www-form-urlencoded
      tags:
        - userRegistration
      parameters:
        - in: formData
          name: email
          required: false
          type: string
        - in: formData
          name: phone
          required: false
          type: string
        - in: formData
          name: country_code
          required: false
          type: string
        - in: formData
          name: language
          required: false
          type: string
      responses:
        "200":
          description: New user account details
          schema:
            $ref: '#/definitions/UserProfile'
definitions:
  UserProfile:
    type: "object"
    x-model: UserProfileModel
    description: User Profile model class containing user data
    required:
      - data
    properties:
      data:
        description: "Contains the new users profile data"
        $ref: '#/definitions/UserProfileData'
  UserProfileData:
    type: "object"
    description: User Profile model class containing user data
    required:
      - id
    properties:
      id:
        type: string
        description: Unique user ID.
      email:
        type: string
        description: Email address identifying this user.
      phone:
        type: string
        description: Phone number associated with this user.
      first_name:
        type: string
        description: First name associated with this user.
      last_name:
        type: string
        description: Last name associated with this user.
      qrcode:
        type: string
        description: Unique QR code identifying this user.
      gender:
        type: string
        description: Gender associated with this user.
      birth_date:
        type: string
        description: Date of birth associated with this user.
      language:
        type: string
        description: Primary language assocaited with this user.
      country_code:
        type: string
        description: Country code associated with this user.
      profile_photo:
        type: string
        description: Profile photo url associated with this user.
      created_at:
        type: string
        description: Date the account for this user was created.
      updated_at:
        type: string
        description: Date the account for this user was last updated.
      enabled:
        type: boolean
        description: Denotes whether this account has been enabled.
      email_verified:
        type: boolean
        description: Denotes whether the email address for this user has been verified
      phone_verified:
        type: boolean
        description: Denotes whether the phone number for this user has been verified