swagger: "2.0"
info:
  version: 1.0.0
  title: Kangaroo Customer Api
  license:
    name: MIT
host: com.kangaroo.com
basePath: /v1
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /users/me?include=products:
    get:
      summary: Get user products list
      operationId: getUserProducts
      tags:
        - userProducts
      responses:
        "200":
          description: User products data
          schema:
            $ref: '#/definitions/UserProducts'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  UserProducts:
    type: "object"
    x-model: UserProductsModel
    description: User Product model class containing user product list
    required:
      - data
      - included
    properties:
      data:
        description: "Contains all user data"
        $ref: "schemas/users/userProfile.yaml#/definitions/UserProfileData"
      included:
        description: "Contains all user products data "
        $ref: '#/definitions/UserProductsIncluded'
  UserProductsIncluded:
    type: "object"
    required:
      - products
    properties:
      products:
        description:
        x-model:
        $ref: '#/definitions/ProductsList'
  ProductsList:
    type: array
    items:
      $ref: '#/definitions/Product'
  Product:
    type: "object"
    x-model: Product
    properties:
      id:
        type: integer
      title:
        type: string
      description:
        type: string
      images:
        type: array
        items:
          $ref: '#/definitions/Images'
      product_sku:
        type: string
      actual_price:
        type: number
        format: float
      real_price:
        type: number
        format: float
      terms_conditions:
        type: string
      link:
        type: string
      product_languages:
        type: array
        items:
          $ref: '#/definitions/Languages'
  Images:
    type: object
    properties:
      path:
        type: string
      large:
        type: string
      medium:
        type: string
      thumbnail:
        type: string
      default:
        type: boolean
  Languages:
    type: object
    properties:
      language_id:
        type: integer
      title:
        type: string
      description:
        type: string
      language:
        type: object
        x-model:
        $ref: '#/definitions/Language'
  Language:
    type: object
    properties:
      id:
        type: integer
      abbreviation:
        type: string
      name:
        type: string
  Error:
    type: "object"
    x-error: true
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
